# =============================================================================
# ### ARCHIVO: requirements.txt 
# =============================================================================
customtkinter
meshtastic
pyserial
pandas
matplotlib
numpy
pillow
tkcalendar
tkintermapview